# API
# Port du backend Express
PORT=3000

# Origine autorisée (front Angular en dev)
CORS_ORIGIN=http://localhost:4200


# PostgreSQL
# Identifiants de la base de données
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_database
POSTGRES_PORT=5432


# Connexion Prisma
# En local (backend lancé depuis ta machine) :
# DATABASE_URL=postgresql://your_username:your_password@127.0.0.1:5433/your_database?schema=public
#
# Dans Docker (backend lancé dans un conteneur) :
# DATABASE_URL=postgresql://your_username:your_password@db:5432/your_database?schema=public
DATABASE_URL=


# Shadow DB (optionnel, pour Prisma migrate dev)
# Créez une base "your_database_shadow" et indiquez-la ici
# Utilisée uniquement en développement pour comparer les migrations
# Exemple :
# SHADOW_DATABASE_URL=postgresql://your_username:your_password@127.0.0.1:5433/your_database_shadow?schema=public
SHADOW_DATABASE_URL=
